<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://d2.cdn.download.haowan123.com/ios/PatchRes/basepackage/D2_res11_0.1.0.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/WSPDD/IpaTest.git/image57X57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/WSPDD/IpaTest.git/image512X512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.doublegame.d2</string>
				<key>bundle-version</key>
				<string>0.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>D2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
